<a href="https://colab.research.google.com/github/mazette04/CPEN-21A-CPE-1-2/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Introduction to Python

In [1]:
#Python Indention
if 5>2:
  print("five is greater than two")

five is greater than two

In [2]:
x = 1   #This is a single variable with single value
x,y=1,2 #These are two variables with two different values
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [6]:
x,y="four",2 
x
y
x

'four'

###Casting

In [9]:
b = int(4)
b
c = float(4)
c

4.0

###Type Function

In [15]:
x = 5
y = 'John'  #This is a type of string
h = "ana"
H = 'Ana'

print(type(x))
print(type(y))
print(h)
print(H)

<class 'int'>
<class 'str'>
ana
Ana

###One Value to Multiple Variables

In [18]:
x = y = z = 'four'
print(x)
print(y)
print(z)

four
four
four

In [21]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

In [23]:
x = 11
y = 12
z = 13
print(x+y+z)

36

In [24]:
x+=3  #This is the same as x = x +3
print(x)

14

In [27]:
y+=5
print(y)

17

In [30]:
x<y and x!=x

False

In [38]:
x>y or not(y==z)

True

In [37]:
not(print(x>y))

False

True

In [41]:
#Identity operations
print(x is y)
print(x is not z)

False
True